/************************** 
DESKTOP FIRST
**************************/
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* UTILITIES */
.uppercase {
    text-transform: uppercase;
}

.text-grey {
    color: #777777;
}

.text-center {
    text-align: center;
}

.pd-0-20 {
    padding: 0 20px;
}

/* MAIN */
main {
    display: flex;
    height: calc(100vh - 80px);
}

/* Navbar */
.navbar {
    min-width: 200px;
    font-size: 12px;
    background-color: #000;
    overflow-y: hidden;
}

/* Navbar-Top */
.navbar-top .logo-small {
    display: none;
}

.navbar-top {
    height: calc(100% - 80px);
    overflow-y: hidden;
    padding: 10px;
}

.navbar-top > img {
    width: 100px;
    padding-bottom: 20px;
}

.navbar-top .bar::before {
    content: '';
    border-left: 3px solid #adff2f;
    height: 35px;
    position: absolute;
    left: 0;
}

.navbar-top li {
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 32px;
}

.navbar-top li a {
    padding-left: 5px;
    text-decoration: none;
    color: #696969;
}

.navbar-top li img {
    width: 25px;
}

.navbar-top h3 {
    padding: 20px 0 10px;
}

.navbar-top .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #696969; 
}

.navbar-top .plus i {
    color: #000;
    font-size: 20px;
}

.navbar-top .playlist li:first-child {
    margin-bottom: 10px;
}

.navbar-top .playlist {
    max-height: 200px;
    overflow: auto;
}

/* Navbar-Bottom */
.navbar-bottom {
    padding: 10px;
}

.navbar-bottom i {
    padding-bottom: 10px;
    color: #696969;  
}

.navbar-bottom a {
    padding-left: 5px;
    text-decoration: none;
    color: #696969;
}

.navbar-bottom .install {
    border-bottom: 1px solid #696969;
}

.navbar-bottom .profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.navbar-bottom .image {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-bottom .profile h3 {
    padding-left: 10px;
}

/* MAIN-CONTENT */
.main-content {
    width: 100%;
    height: 100%;
    background-color: #141922;
    position: relative;
    overflow-y: hidden;
}

/* Upgrade */
.upgrade {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    width: 100%;
    padding: 24px 20px 24px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    overflow-y: hidden;
}

.upgrade .btn {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    min-width: 200px;
    font-size: 14px;
}

/* Menù */
.menu {
    margin-top: 90px;
}

.menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.menu li a {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
    color: #7d7f84;
}

.menu li {
    position: relative;
}

.menu li .bar-1:first-child::after {
    content: '';
    display: inline-block;
    width: 40px;
    border-bottom: 3px solid #adff2f;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Recent */
.overflow {
    height: 100%;
    overflow: auto;
}

.recent h2 {
    padding: 20px 0;
}

.creatly h2,
.artist h2 {
    padding: 20px 0 10px;
}

.recent h4,
.creatly h4 {
    padding: 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.recent .disc,
.creatly .disc,
.artist .disc {
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.artist .disc {
    border-radius: 50%;
    overflow: hidden;
}

.recent .disc img,
.creatly .disc img,
.artist .disc img {
    width: 100%;
    height: auto;
}

.recent p,
.creatly p,
.artist p {
    padding-bottom: 20px;
    color: #7d7f84;
    font-size: 12px;
}

/* FOOTER */
.player {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    background-color: #282828;
}

.player .album {
    display: flex;
    align-items: center;
}

.player .album img {
    width: 40px;
}

.player .album .track-name {
    padding-left: 10px;
    font-size: 10px;
}

.player .album .icon {
    display: flex;
    padding-left: 20px;
}

.player .album .icon .fa-heart {
    padding-right: 10px;
}

.player .controller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.player .controller .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.player .controller .button .fa-play-circle {
    font-size: 30px;
}

.player .controller .button i {
    padding: 0 10px;
}


.player .controller .advanced {
    display: flex;
    align-items: center;
}

.player .controller .advanced .track-bar {
    width: 400px;
}

.player .controller .advanced::before {
    content: '0:25';
    font-size: 10px;
    padding-right: 20px;
}

.player .controller .advanced::after {
    content: '4:35';
    font-size: 10px;
    padding-left: 20px;
}

.player .audio {
    display: flex;
    align-items: center;
}

.player .audio i {
    padding-right: 20px;
}

.player .track-bar {
    width: 120px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.player .track-bar .scroll {
    width: 25%;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
}